.footer{
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--offWhite);
    color: var(--primary);
    padding: 1% 0px 1% 0px;
}

.footerM{
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--offWhite);
    color: var(--primary);
    padding: 1% 0px 1% 0px;
    font-size: small;
}

.icon{
    color: var(--primary);
}