.grid{
    background: linear-gradient(145deg, var(--primary) 0%, var(--secondary) 100%);
}

.item{
    padding-top: 30px;
    padding-bottom: 30px;
}

.itemCard{
    margin-bottom: 50px;
}

.img{
    display: block;
    width: max-content;
    margin: 0 auto;
}

.intro{
    margin-right: 300px;
    color: white;
}

.introM{
    margin: -15px 15px 15px 15px;
    color: white;
}

.services, .contact{
    text-align: center;
}

.services>h1, .products>h1{
    color: var(--primary);
}

.cardlet{
    border-radius: 15px;
    border: 2px solid var(--secondary);
    width: 250px;
    height: 175px;
    margin: 0 auto;
    padding: 15px;
}

.cardlet{
    color: black;
}

.cardlet>h3{
    color: var(--primary);
}

.cardletIcon{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: -50px;
    width: max-content;
    height: max-content;
    color: var(--primary);
    font-size: 48px;
    background-color: white;
    border-radius: 60px;
    border: 2px solid var(--secondary);
    padding: 10px;
}

.fom{
    margin-top: 25px;
}

.products{
    background-color: var(--offWhite);
    color: var(--secondary);
    text-align: center;
}

.products>h1{
    padding-top: 21.44px;
}

.img2{
    display: block;
    width: max-content;
    margin: 0 auto;
    border: 2px solid var(--primary);
}

.contact>h1{
    color: var(--primary);
}