.root{
    display: flex;
}

.link{
    color: #00B100;
}

.link:hover{
    background-color: none;
    color: #0000C7;
}

.linkImgActive{
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 60px;
}

.linkImgActive>:only-child{
    color: #0000C7;
    border: 2px solid #0000C7;
    padding: 15px;
    border-radius: 60px;
}

.linkImgActive:hover{
    cursor: pointer;
}

.linkBtnActive{
    border-bottom: 4px solid #0000C7;
}

.linkImg{
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 60px;
}

.linkImg>:only-child{
    color: #00B100;
    border: 2px solid #00B100;
    padding: 15px;
    border-radius: 60px;
}

.linkImg:hover>:only-child{
    color: #0000C7;
    padding: 15px;
    border-radius: 60px;
    border: 2px solid #0000C7;
    cursor: pointer;
}

.linkImg>:only-child, .linkImgActive>:only-child{
    display: block;
    margin: 0 auto;
}