.root{
    display: flex;
}

.link{
    color: var(--primary);
}

.link:hover{
    background-color: none;
    color: var(--secondary);
}

.linkImgActive{
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 60px;
    padding: 15px;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 60px;
}

.linkImgActive:hover{
    cursor: pointer;
}

.linkBtnActive{
    border-bottom: 4px solid var(--secondary);
}

.linkImg{
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 60px;
    padding: 15px;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 60px;
}

.linkImg:hover{
    color: var(--secondary);
    border: 2px solid var(--secondary);
    cursor: pointer;
}

.linkImg>:only-child, .linkImgActive>:only-child{
    display: block;
    margin: 0 auto;
}